<mat-card
  (click)="onCardClick(patient.id)"
  class="mat-elevation-z8 clickable"
  style="
    padding: 0px;
    margin-bottom: 20px;
    width: 225px;
    font-family: Georgia, serif;
  "
>
  <mat-card-header
    style="background-color: #002b5c; padding-top: 7px; height: 34px"
  >
    <mat-card-title style="margin-left: -8px; color: white; font-size: 12px">
      <div>Patient {{ patient.id }}</div>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div>First Name: {{ patient.firstName }}</div>
    <mat-divider></mat-divider>
    <div>Last Name: {{ patient.lastName }}</div>
    <mat-divider></mat-divider>
    <div>Gender: {{ patient.gender }}</div>
    <mat-divider></mat-divider>
  </mat-card-content>

  <mat-card-footer style="margin-left: 60px; margin-top: 0px">
    <button
      class="edit-button"
      (click)="onEdit(patient.id)"
      [routerLink]="['/patients', patient.id, 'edit']"
    >
      <span>Edit Patient</span>
      <mat-icon style="padding-left: 5px">edit</mat-icon>
    </button>
  </mat-card-footer>
</mat-card>

<br />
<ng-content></ng-content>
